@font-face {font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal;}

*{margin: 0; padding: 0;}
body{color: #252525; font-size: 18px; line-height: 34px; font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;}
a{text-decoration: none; color: #252525;}
ul{list-style: none;}


/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;*/

#header{background-color: rgba(255, 255, 255, 0.6); height: 180px;}
.headerinner{width: 80%; margin: auto; position: relative; z-index: 2; }
.logo{position: absolute; top: 30px; left: 50%; transform: translateX(-50%);}
.headerinner .nav{width: 1320px;  height: 26px; position: absolute; top: 130px; right: 50%; transform: translateX(50%);}
.nav> li{float: left; width: 224px; margin: 0 20px; text-align: center;}
.nav> li> a{color: rgba(37, 37, 37, 0.4); padding: 8px 0; box-sizing: border-box; display: block;}
.nav> li> a:hover{color: #252525; font-style: italic; font-weight: 800;}

.sub li a{display: block; padding: 16px 0; text-align: center; color: rgba(37, 37, 37, 0.4); background-color: rgba(255, 255, 255, 0.6)}
.sub li a:hover{color: #252525; background-color: rgba(255, 255, 255, 0.8);font-style: italic; font-weight: 800;}
.sub{display: none;}
.nav li:hover .sub{display: block;}



/*content*/
.error{width: 100%; height: 800px; background: url(images/pattern.png); position: relative;}
.wrap{width: 1000px; height: 460px; margin: auto; text-align: center; padding-top:600px; background-color: rgba(255, 255, 255, 0.8); padding: 100px; box-sizing: border-box; position: absolute; top: 260px; right: 50%; transform: translateX(50%); border: #e97c84 solid 10px;}
.notfound{margin-bottom: 70px; font-family: 'RIDIBatang';}
.notfound2{margin-bottom: 60px;}
.tohome{font-size: 30px; color: #e97c84; font-weight: bold;}
.tohome:hover{font-weight: bold; color: #dc6176; font-style: italic;}


/*footer*/
#footer{width: 100%; height: 300px; background-color: #555555;}
.footerinner{width: 1320px; height: 100%; margin: auto; position: relative;}
.footernav{position: absolute; top: 140px;}
.footernav li{float: left; padding-right: 40px; }
.footernav li a{color: #fcecd8; font-size: 16px;}
.footernav li a:hover{color: #fecfa7; font-style: italic;}
.instadm{float: right; top: 140px; position: absolute; right: 0%;}
.instadm li a img{vertical-align: middle;}
.instadm li a{color: #fcecd8; font-size: 16px;}
.footerlogo{position: absolute; top: 90px;left: 50%; transform: translateX(-58%) }
.copyright{text-align: center; color: #fcecd8; font-size: 12px; line-height: 24px; position: absolute; bottom: 12%; left: 50%; transform: translateX(-50%)}
/*footer*/
